<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/styleForMobileDetails.css' />
  <title>Device Details</title>
</head>





<body>
  <% if(user) { %>
    <ul>
      <li> <a href="/mobiles" style="text-decoration: none; color: white;">MOBILE GALLERY</a>
      </li>
      <li><a href="/mobiles/addDevice" style="text-decoration: none; color: white;">ADD DEVICE</a></li>
      <li> <a href="/logout" style="text-decoration: none; color: white;">LOG OUT</a></li>
    </ul>
    <% }else{%>
      <ul>
        <li> <a style="text-decoration: none; color: white;" href="/mobiles">MOBILE GALLERY</a>
        </li>
      </ul>
      <%}%>
        <section id="show-page">
          <br></br>
          <div class="card">
            <center>


              <br style="padding-bottom: 10px;">

              <img src='<%= mobiles.deviceImage%>.jpg'
                style="   border: 5px solid rgb(43, 21, 0);width: 200px; height: 200px; border-radius: 10px; margin: auto; border-radius: 40px;">
              </br>





            </center>
            <table style="width:60%; margin: auto; padding: 20px;">
              <tr>
                <th>Properties</th>
                <th>Detail</th>
              </tr>
              <tr>
                <td>Company Name</td>
                <td>
                  <%= mobiles.deviceName %>
                </td>
              </tr>
              <tr>
                <td>Price</td>
                <td>
                  <%= mobiles.devicePrice %>
                </td>
              </tr>
              <tr>
                <td>Ram</td>
                <td>
                  <%= mobiles.deviceRam %>
                </td>
              </tr>
              <tr>
                <td>Rom</td>
                <td>
                  <%= mobiles.deviceRom %>
                </td>
              </tr>
            </table>
            <% if (user?._id.equals(mobiles.userId)) { %>
              <form action="/mobiles/<%= mobiles._id %>?_method=DELETE" method="POST">
                <button type="submit" style="color: white;">Delete</button>
              </form>
              <% } %>
                <% if (user?._id.equals(mobiles.userId)) { %>
                  <button>
                    <a style="text-decoration: none; color: white; padding: auto; width: 50%;" href="#footer">Click to
                      edit</a>
                  </button>
                  <% } %>
          </div>
        </section>
        <br>
        <br>
        <table style="width:22%; margin: auto;  border: 0px;">
          <td style="border: 0px;">
            <h2 style="font-size: 14px; ">Post By:</h2>
          </td>
          <td style="border: 0px;""><img src='<%= mobiles.deviceOwnerAvatar%>'
        style=" border:4px #1b6b6f; height: 60px; border-radius: 40px; margin: auto;"></td>
          <td style="text-align:left; font-size: 12px; border: 0px;">
            <%= mobiles.deviceOwner %>
          </td>
        </table>
        <center>
          <% if (user) { %>
            <br><br>
            <h2 style="color: white;">Add FeedBack</h2>
            <form method="POST" action="/mobiles/<%= mobiles._id %>/feedback">
              <br><textarea name="content" style="width: 100%; height: 100px"></textarea></br>
              <button type="submit" style="color: white; width: 50%;">Post Feedback</button>
            </form>
            <% } %>
        </center>
        <% if (mobiles.feedback.length) { %>
          <br>
          <% mobiles.feedback.forEach(function(m) { %>
            <div style="padding: 1%;">
              <div class="feedbackCard">
                <table style="width:25%; margin: auto;  border: 0px; align-content: left;">
                  <td style="border: 0px;""> <img src='<%= m.userAvatar%>'
                          style=" border:4px #1b6b6f; width: 60px; height: 60px; border-radius: 30px;"></td>
                  <td style="font-size: 12px; border: 0px; ">
                    <%= m.userName %>
                  </td>
                </table>
                <center>
                  <td style="text-align:left; font-size: 12px; border: 0px;">
                    <%= m.content %>
                  </td>
                  <% if (user?._id.equals(m.user)) { %>
                    <form method="POST" action="/mobiles/feedback/<%= m._id %>?_method=DELETE">
                      <button type="submit">Delete</button>
                    </form>
                    <% } %>
                      </td>
                </center>
                </table>
              </div>
            </div>
            <% }); %>
              </br>
              <% } else { %>
                <center>
                  <h3 style="color: white;">There is no feedback in this post</h3>
                </center>
                <% } %>
                  <br></br>
                  <% if (user?._id.equals(mobiles.userId)) { %>
                    <div style="margin-top: 30%;" class="row">
                      <div class="col-md-12">
                        <form method="POST" action="/mobiles/<%= mobiles._id %>?_method=PUT">
                          <h1 style="color: white;"> Edit Mobile Info </h1>
                          <fieldset>
                            <label style="color: white;">Device Name:</label>
                            <input type="text" value="<%= mobiles.deviceName %>" id="name" name="deviceName">
                            <label for="email" style="color: white;">Price:</label>
                            <input type="text" id="name" value="<%= mobiles.devicePrice%>" name="devicePrice">
                            <label for="deviceImage" style="color: white;">Ram:</label>
                            <input type="text" value="<%= mobiles.deviceRam %>" id="name" name="deviceRam">
                            <label for="deviceImage" style="color: white;">Rom:</label>
                            <input type="text" value="<%= mobiles.deviceRom %>" id="name" name="deviceRom">
                          </fieldset>
                          <button style="color: white;" type="submit">Update</button>
                        </form>
                      </div>
                    </div>
                    <% } %>
                      <footer id="footer"></footer>
</body>

</html>